@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
}

:root{
  --clr-available: #53fa53;
  --clr-booked: #f86262;
  --clr-blocked: #faa064;
  --clr-hold: #1cd2eb;
  --clr-available-faded: #53fa537a;
  --clr-booked-faded: #f8626277;
  --clr-blocked-faded: #faa0646c;
  --clr-hold-faded: #1cd3eb62;
}




.unit-status.Sold {
  opacity: 0.8;
  color: var(--clr-booked);
  font-weight: 600;
}
.unit-status.Booked {
  opacity: 0.8;
  color: var(--clr-booked);
  font-weight: 600;
}

.unit-status.Available {
  opacity: 0.8;
  color: var(--clr-available);
  font-weight: 600;
}

.unit-status.Blocked {
  opacity: 0.8;
  color: var(--clr-blocked);
  font-weight: 600;
}

.unit-status.Hold {
  opacity: 0.8;
  color: var(--clr-hold);
  font-weight: 600;
}





.tippy-box{
  background-color: transparent !important;
}


.tippy-mark{
  color: #fff;
  font-family: Roboto, sans-serif;
  padding: 0.5rem 1rem; 
  border-radius:20px;
  border: 1px solid #ffffff; color: #fff;
  font-weight: 400;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  padding: 0.5rem 1rem; 
  border: 1px solid #ffffff;
}

.highway.Delhi.Jaipur.Highway{
  background-color: #FF5454;
}

.highway.Golf.Course{
  background-color: #EBBB3F;
}

.highway.Southern.Peripheral.Road{
  background-color: #62a324;
}

.highway.Dwarka.Expressway{
  background-color: #7c50ce;
}

.highway{
  background-color: #C226A9;
}

.tippy-mark.hotel{
  background-color: #faa55b;
}

.tippy-mark.mall{
  background-color: #4DBCE0;
}

.tippy-mark.school{
  background-color: #95C040;
}

.towers-hover-info{
  background-color: var(--panel_background) !important;
  color: rgb(224, 219, 219) !important;
  padding: 1rem !important;
}

.towers-hover-info .features div{
  background-color: #5959597a !important;
  margin: 0.3rem 0 !important;
  padding: 0.5rem 1rem !important;
  border-radius: 5px !important;
  width: 100% !important;
  font-size: 14px !important;
}




.no-dec{
  text-decoration: none;
  color: unset;
}

.button {
  display: inline-block;
  border: none;
  width: 100%;
  padding: var(--paddings);
  background: var(--button_background);
  /* box-shadow: var(--button_shadow); */
  border-radius: var(--radius);
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 1.2;
  text-align: center;
  pointer-events: auto;
  cursor: pointer;
  color: var(--button_color);
  transition: var(--transition);
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-select:focus {
  outline: none !important;
}

/* :root{
  --primary_bg: rgba(4, 87, 167, 0.2); 
  --primary_dark_bg: rgba(0, 87, 183, 0.4);
  --primary_backdrop_filter: blur(20px);
  --transparent_backdrop_filter: blur(10px);
  --secondary_bg: #03DAC5;
  --secondary_transparent_light_bg: rgba(5, 255, 226, 0.2);
  --secondary_transparent_bg: rgba(3, 218, 197, 0.1);
  --box_shadow: rgba(0, 0, 0, 0.25);
  --secondary_border: #05FFE2;
  --secondary_text: #03DAC5;
  --linear_gradient: linear-gradient(to right, #05FFE2,#029AC8,#0057B7);
  --light_black: #231f20;
  --transparent_bg: rgba(18, 18, 18, 0.05);
 --border_radius: 4px;
 --transparent_linear_gradient_bg: linear-gradient(to bottom, rgba(255,255,255,0.3),rgba(255,255,255,0))
} */


.popup-colose-btn {
  position: absolute;
  z-index: 101;
  right: 2rem;
  top: 1rem;
  background: white;
  font-size: 1.2rem;
  padding: 0.5rem 0.6rem;
  border-radius: 10px;
  cursor:pointer;
  opacity: 0.8;
  transition: all linear 200ms;
}

.popup-colose-btn:hover{
  opacity: 1;
}

.disclaimer-body .header{
  padding: 1rem 0rem;
  padding-top: 0rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #ffffff71;
  margin-bottom: 1rem;
}

.disclaimer-body .text{

  line-height: 28px;

}

.disclaimer-body .text p{
  padding: 0.3rem 0;
}

.disclaimer-body .text p a{
  color: rgb(106, 106, 248);
}

.ReactModal__Overlay {
  /* opacity: 0; */
  transition: opacity 200ms linear;
  transform: translateY(-200vh);
}

.ReactModal__Overlay--after-open{
  /* opacity: 1; */
  transform: translateY(0vh);
}

.ReactModal__Overlay--before-close{
  /* opacity: 0; */
  transform: translateY(-200vh);
}

.ReactModal__Content{
  transition: all 200ms ease-in-out;
  transform: translate(-50%,-50%) scale(0.6);
}

.ReactModal__Content--after-open{
  transform: translate(-50%,-50%) scale(1);
}


.ReactModal__Content--before-close{
  /* opacity: 0; */
  transform: translate(-50%,-50%) scale(0.6);
}