:root{
    --blue-theme: #023047;
    --green-theme: #77a641;
    --yellow-theme: #ffb703;
      --background_panel: #023047;
      --header_up_icon_color: rgb(255, 255, 255);
      --color_text: rgb(255, 255, 255);
      --transition: 0.3s;
      --radius: 8px;
      --logo_width: 105px;
      --logo_height: 38px;
      --logo_m_width: 80px;
      --logo_m_height: 27px;
      --copyright_width: 162px;
      --copyright_height: 41px;
      --error_background: #2F2F2F;
      --error_code_color: #373737;
      --error_title_color: #DADADA;
      --error_description_color: #535353;
      --error_button_background: #023047;
      --error_button_color: #BDBDBD;
      --error_button_shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
      --error_button_background_hover: #636363;
      --error_button_color_hover: #FFFFFF;
      --error_button_shadow_hover: 0px 4px 12px rgba(0, 0, 0, 0.15);
      --customer_copyright_width: 125px;
      --customer_copyright_height: 77px;
      --customer_copyright_loading_width: 76px;
      --customer_copyright_loading_height: 67px;
      --customer_copyright_color: #F7F5EF;
      --customer_copyright_color2: #F7F5EF;
      --customer_copyright_color_hover: #FFFFFF;
      --customer_copyright_color_hover2: #FFFFFF;
      --header_up_icon_color: rgb(255, 255, 255);
      --header_up_text_color: rgb(255, 255, 255);
      --header_up_opacity: 0.5;
      --header_up_opacity_hover: 0.8;
      --header_delimiter_background: #023047;
      --header_delimiter_color: rgba(189, 189, 189, 0.85);
      --header_hidden_background: #023047;
      --header_hidden_icon_color: #EEEEEE;
      --header_hidden_background_hover: #636363;
      --header_path_scroll_background: #525252;
      --header_path_background: #023047;
      --header_path_color: #ffff;
      --header_path_shadow: none;
      --header_path_background_hover: #636363;
      --header_path_color_hover: #BDBDBD;
      --header_path_shadow_hover: none;
      --header_path_background_active: #DADADA;
      --header_path_color_active: #2F2F2F;
      --header_path_shadow_active: none;
      --header_path_background_active_hover: #DADADA;
      --header_path_color_active_hover: #2F2F2F;
      --header_path_shadow_active_hover: none;
      --header_path_background_disabled: transparent;
      --header_path_color_disabled: #BDBDBD;
      --header_path_border_disabled: #636363;
      --header_path_shadow_disabled: none;
      --header_path_background_disabled_hover: transparent;
      --header_path_color_disabled_hover: #BDBDBD;
      --header_path_border_disabled_hover: #636363;
      --header_path_shadow_disabled_hover: none;
      --header_shadow_mobile: none;
      --header_path_mobile_background: #023047;
      --header_path_mobile_bg_background: rgba(0, 0, 0, 0.8);
      --header_path_mobile_color: #BDBDBD;
      --header_path_mobile_shadow: 0px 0px 1px rgba(0, 0, 0, 0), 0px 2px 4px rgba(0, 0, 0, 0);
      --header_path_mobile_background_active: #FFFFFF;
      --header_path_mobile_color_active: #2F2F2F;
      --header_path_mobile_shadow_active: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.1);
      --header_path_mobile_current_background: #023047;
      --header_path_mobile_current_color: #BDBDBD;
      --header_path_mobile_current_shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
      --header_path_mobile_current_background_active: #FFFFFF;
      --header_path_mobile_current_color_active: #2F2F2F;
      --header_path_mobile_current_shadow_active: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.1);
      --popup_unit_color: #EEEEEE;
      --popup_unit_block_name_color: #EEEEEE;
      --popup_unit_params_label_color: #BDBDBD;
      --unit_card_paddings: 0;
      --choose_helper_background: rgba(35, 35, 35, 0.85);
      --panel_background: #219ebc;
      --panel_enquiry_background: rgba(35, 35, 35, 1);
      --panel_background_transparent: rgba(0, 0, 0, 0);
      --panel_title_color: #BDBDBD;
      --panel_opacity_disabled: 0.3;
      --panel_paddings: 10px 15px 15px 15px;
      --panel_paddings_hidden: 10px 15px;
      --panel_paddings_mobile: 14px 15px;
      --panel_paddings_floor: 10px;
      --panel_paddings_floor_mobile: 0px;
      --panel_padding: 10px 1px;
      --panel_max_width: 170px;
      --panel_min_width: 170px;
      --panel_max_width_wide: 250px;
      --panel_min_width_wide: 250px;
      --panel_max_width_floor: 58px;
      --panel_max_width_floor_mobile: 42px;
      --panel_min_width_floor: 58px;
      --panel_max_width_widest: 100%;
      --panel_min_width_widest: 100%;
      --panel_min_width_floor_mobile: 42px;
      --panel_min_width_ar_floor_selector: 80px;
      --panel_max_width_ar_floor_selector: 80px;
      --interface_location_info_color: #BDBDBD;
      --interface_location_info_title_color: #F7F7F7;
      --button_background: #023047;
      --button_color: #BDBDBD;
      --button_shadow: none;
      --button_background_hover: #636363;
      --button_color_hover: #BDBDBD;
      --button_shadow_hover: none;
      --button_background_active: #DADADA;
      --button_color_active: #2F2F2F;
      --button_shadow_active: none;
      --button_background_active_hover: #EEEEEE;
      --button_color_active_hover: #2F2F2F;
      --button_shadow_active_hover: none;
      --button_background_disabled: #666666;
      --button_color_disabled: #8B8A8A;
      --button_shadow_disabled: none;
      --button_border_disabled: 1px solid #D3D2D2;
      --button_background_disabled_hover: transparent;
      --button_color_disabled_hover: #2F2F2F;
      --button_shadow_disabled_hover: 0px 0px 1px rgba(0, 0, 0, 0), 0px 2px 4px rgba(0, 0, 0, 0);
      --button_border_disabled_hover: 1px solid #D3D2D2;
      --button_background_form: #77A641;
      --button_color_form: #EDFF9F;
      --button_shadow_form: none;
      --button_background_form_hover: #83B847;
      --button_color_form_hover: #EDFF9F;
      --button_shadow_form_hover: none;
      --button_background_green: #77A641;
      --button_background_blue: var(--blue-theme);
      --button_background_green_hover: #83B847;
      --button_color_green: #f7fce5;
      --button_color_yellow: #FFF;
      --button_background_yellow: #E3B22E;
      --button_background_orange: #F49E50;
      --button_background_orange_hover: #F1A560;
      --button_color_orange: #FEF6CB;
      --button_background_red: #E75F5F;
      --button_background_red_hover: #F17474;
      --button_color_red: #FFDBD3;
      --button_background_zoom: rgba(35, 35, 35, 0.65);
      --button_background_zoom_hover: rgba(35, 35, 35, 0.85);
      --button_zoom_disabled_opacity: 0.6;
      --button_show_details_background: #023047;
      --button_show_details_fill: #EEEEEE;
      --button_submit_default_bg: #77A641;
      --button_submit_default_color: #EDFF9F;
      --button_submit_default_hover_bg: #83B847;
      --button_submit_disabled_bg: #3E3E3E;
      --button_submit_disabled_color: #666666;
      --hidden_background: #023047;
      --hidden_background_hover: #4C4C4C;
      --hidden_icon_color: #EEEEEE;
      --hidden_icon_color_hover: #EEEEEE;
      --tabs_color: rgba(255, 255, 255, 0.2);
      --tabs_color_active: #FFFFFF;
      --unit_card_width: 270px;
      --unit_card_main_color: #EEEEEE;
      --unit_card_secondary_color: #BDBDBD;
      --unit_card_price_color: #FFFFFF;
      --unit_card_option_header_background: rgba(97, 97, 97, 0.5);
      --unit_card_option_body_background: rgba(97, 97, 97, 0.25);
      --unit_card_option_title_color: #BDBDBD;
      --unit_card_option_title_disabled_color: rgba(238, 238, 238, 0.3);
      --unit_card_option_name_color: #EEEEEE;
      --unit_card_option_name_disabled_color: rgba(238, 238, 238, 0.3);
      --unit_card_option_price_color: rgba(189, 189, 189, 0.6);
      --unit_card_option_price_disabled_color: rgba(189, 189, 189, 0.3);
      --unit_card_type_color: #949494;
      --cupertino-pane-background: transparent;
      --button_panel_width: 42px;
      --button_panel_height: 42px;
      --button_panel_background: rgba(35, 35, 35, 0.75);
      --button_panel_color: rgba(255, 255, 255, 0.47);
      --button_panel_icon_color: rgba(255, 255, 255, 0.47);
      --button_panel_shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      --button_panel_background_hover: rgba(35,35,35,0.9);
      --button_panel_color_hover: rgba(255, 255, 255, 0.8);
      --button_panel_icon_color_hover: rgba(255, 255, 255, 0.8);
      --button_panel_shadow_hover: 0px 2px 4px rgba(0, 0, 0, 0.15);
      --button_panel_background_whatsapp: rgba(35, 35, 35, 0.5);
      --button_panel_background_whatsapp_hover: #232323;
      --button_panel_whatsapp_fill: rgba(255, 255, 255, 0.47);
      --button_panel_whatsapp_fill_hover: rgba(255, 255, 255, 0.8);
      --button_panel_tooltip_color: #D5D4D4;
      --button_panel_fill: #D5D4D4;
      --button_panel_fill_hover: rgba(213,212,212,1);
      --button_panel_disabled_background: rgba(238, 238, 238, 0.9);
      --button_panel_disabled_background_hover: rgba(238, 238, 238, 0.9);
      --button_panel_disabled_fill: #2F2F2F;
      --button_panel_disabled_fill_hover: #2F2F2F;
      --mobile_button_panel_width: 42px;
      --mobile_button_panel_height: 42px;
      --mobile_button_panel_submenu_background: rgba(35, 35, 35, 0.75);
      --mobile_button_panel_background: #313131;
      --mobile_button_panel_icon_background: rgba(35, 35, 35, 0.75);
      --mobile_button_panel_color: #BDBDBD;
      --mobile_button_panel_fill: #D5D4D4;
      --mobile_button_panel_icon_disabled_background: rgba(238, 238, 238, 0.9);
      --mobile_button_panel_disabled_fill: #2F2F2F;
      --slide_parent_background: rgba(29, 29, 29, 0.9);
      --slide_background: #373737;
      --slide_background_hover: #474747;
      --slide_color: #BDBDBD;
      --slide_color_hover: #EEEEEE;
      --slide_label_color: #B3B2B2;
      --slide_label_color_hover: #BDBDBD;
      --slide_shadow: none;
      --slide_shadow_hover: none;
      --slide_tab_line: rgba(189, 189, 189, 0.2);
      --slide_tab_line_active: #EEEEEE;
      --slide_tab_color: #BDBDBD;
      --slide_tab_color_active: #EEEEEE;
      --slide_title_color: #EEEEEE;
      --slide_area_color: #BDBDBD;
      --slide_area_span_color: #EEEEEE;
      --slide_area_span_color_hover: #ffff;
      --slide_area_border: none;
      --slide_pagination_background: #686868;
      --slide_pagination_background_active: #EEEEEE;
      --selected_type_label_color: #BDBDBD;
      --selected_type_option_active_hover: #F0F0F0;
      --choose_title_background: rgba(255, 255, 255, 0.7);
      --choose_title_color: #ffffff;
      --mob_interface_indent_top: 5px;
      --mob_interface_indent_left: 7px;
      --preloader_background: rgba(23, 23, 23, 0.65);
      --preloader_filter: saturate(180%) blur(60px);
      --preloader_color: rgba(255, 255, 255, 1);
      --connection_background: rgba(47, 47, 47, 1);
      --connection_shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.75);
      --connection_color: rgba(255, 255, 255, 1);
      --loading_background: rgba(0, 0, 0, 0.85);
      --loading_bar_background: rgba(222, 222, 222, 0.85);
      --content_loading_border: rgba(35, 35, 35, 0.85);
      --background_interface: rgba(35, 35, 35, 0.75);
      --disabled_opacity_panel: 0.3;
      --radius_panel: 8px;
      --radius_button: 8px;
      --color_title_panel: rgba(148,148,148,1);
      --width_panel: 170px;
      --color_back: #e1e1e1;
      --background_back: rgba(255, 255, 255, 1);
      --opacity_back: 0.5;
      --base_color_skeleton: rgba(38, 38, 38, 1);
      --highlight_color_skeleton: rgba(45, 45, 45, 1);
      --radius_skeleton: 0px;
      --location_color_skeleton: rgba(191,191,191, 1);
      --hamburger_background: rgba(255, 255, 255, 1);
      --input_background: #2A2A2A;
      --input_placeholder_color: #7F7F7F;
      --input_border: 1px solid #5F5F5F;
      --input_focus_background: #2A2A2A;
      --input_focus_border: 1px solid #AEAEAE;
      --input_focus_color: #EEEEEE;
      --input_active_background: #2A2A2A;
      --input_active_border: 1px solid #AEAEAE;
      --input_active_color: #EEEEEE;
      --input_border_not_valid: 1px solid #AE4747;
      --input_radio_border: 1px solid #BDBDBD;
      --input_radio_checked_bg: #EEEEEE;
      --input_radio_checked_color: #EEEEEE;
      --input_label_text_color: #7F7F7F;
      --input_label_focus_text_color: #EEEEEE;
      --input_select_arrow_bg: 5px solid #959697;
      --form_title_color: #EEEEEE;
      --preloader_form_dots_bg: #EEEEEE;
      --edit_pen_fill: #BDBDBD;
      --edit_pen_fill_hover: #FFFFFF;
      --configurator_background: #2b2b2b;
      --configurator_loader_background: #2b2b2b;
      --configurator_option_background: #393939;
      --configurator_option_background_hover: #4C4C4C;
      --configurator_option_color: #8B8A8A;
      --configurator_option_active_background: #DADADA;
      --configurator_option_active_background_hover: #EEEEEE;
      --configurator_option_active_color: #2F2F2F;
      --configurator_checkbox_option_active_border: #fdfdfd;
      --configurator_controls_background: rgba(250, 250, 250, 0.7);
      --configurator_svg_color: #7B7B7B;
      --configurator_svg_active_color: rgba(72, 72, 72, 0.5);
      --configurator_controls_color: #EEEEEE;
      --floors_select_title_color: #BDBDBD;
      --floors_select_btn_bg: #023047;
      --floors_select_btn_color: #BDBDBD;
      --floors_select_btn_active_bg: #DADADA;
      --floors_select_btn_active_color: #2F2F2F;
      --floors_select_btn_active_shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
      --floors_select_btn_hover_bg: #636363;
      --floors_select_btn_active_hover_bg: #EEEEEE;
      --form_text_color: #EEEEEE;
      --walkThrow_button_color: #DADADA;
      --walkThrow_button_color_hover: #BDBDBD;
      --walkThrow_button_color_active: #2F2F2F;
      --walkThrow_background: rgba(35, 35, 35, 0.5);
      --walkThrow_button_active: rgba(255,255,255,0.85);
      --walkThrow_button_shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
      --walkThrow_button_hover: rgba(35,35,35,0.9);
      --walkThrow_button_active_hover: #F0F0F0;
      --cupertino-pane-move-background: #023047;
      --blackout: rgba(27, 27, 27, 0.94);
      --blackout_mobile: #232323;
      --help_fullscreen_bg: #292929;
      --help_fullscreen_color: #EEEEEE;
      --help_fullscreen_esc_bg: rgba(255, 255, 255, 0.1);
      --help_fullscreen_esc_border: 1px solid #DEDEDE;
      --form_blackout: rgba(22, 22, 22, 0.5);
      --form_background: #1F1F1F;
      --primary_bg_svg_control: #6A6A6A;
      --secondary_bg_svg_control: rgba(255, 88, 88, 0.6);
      --primary_bg_svg_control_hover: #7C7C7C;
      --secondary_bg_svg_control_hover: rgba(255, 88, 88, 0.9);
      --tertiary_bg_svg_control_hover: #90D740;
      --tertiary_bg_svg_control: #83B847;
    }