html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}



  
  
  .flex{
    display: flex;
  }
  
  .col {
    flex-direction: column;
  }

  .j-end{
    justify-content: flex-end;
}
  
  
  
  .top{
    top:0
  }
  
  .bottom{
    bottom: 0;
  }
  
  .right{
    right:0
  }
  
  .left{
    left: 0;
  }
  
  .absolute{
    position: absolute;
  }
  
  .flex-center-v{
    display: flex;
    align-items: center;
  }
  
  .flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
  font-family: 'Roboto', sans-serif;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:focus {
	border-color: #666;
}

.d-block {
	display: block !important;
}

.d-inline-block {
	display: inline-block !important;
}

.d-flex {
	display: flex !important;
}

.vertical-align-middle {
	vertical-align: middle;
}


.text-center {
  text-align: center;
}

/* Bootstrap Grid */

.row-no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row-no-gutters [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
/* .hidden {
  display: none !important;
} */
/* End Bootstrap Grid */

.row {
	display: flex;
}

.column {
	padding: 0 3px;
}

.column-1 {
  width: 8.33333333%;
}
.column-2 {
  width: 16.66666667%;
}
.column-3 {
	width: 25%;
}
.column-4 {
  width: 33.33333333%;
}
.column-5 {
	width: 41.66666667%;
}
.column-6 {
	width: 50%;
}
.column-7 {
	width: 58.33333333%;
}
.column-8 {
	width: 66.66666667%;
}
.column-9 {
	width: 75%;
}
.column-10 {
	width: 83.33333333%;
}
.column-11 {
	width: 91.66666667%;
}
.column-12 {
	width: 100%;
}

/* CSS Updates by Adarsh */
body{
    font-family: system-ui;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::before,*::after{
    box-sizing: border-box;

}
.desc_wrap{
 background: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 15px 50px 0px rgba(27, 32, 50, 0.1);
    width: 300px;
    background: radial-gradient(circle, #066f5b 0%, #023047 100%);

}
.cap_text{
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    line-height: 25px;
}
.main_wrap_title{
    display: flex;
    gap: 10px;
    align-items: center;
}
.dd_flex{
    display: flex;
}
.main_tab_block{
    display: flex;
    gap: 15px;
    align-items: center;
        padding: 0 15px;
}
.flors_icons{
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 130px;
}
.flors_icons svg{
  color: #29a77f !important;
  width: 19px !important;
  height: 19px !important;
}
.text_blk{
    min-width: 40px;
    height: 22px;
    border-radius: 6px;
    background-color: #d8e3ff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    color: #1e7aff;
}
.text_sub{
    font-size: 13px;
    color: #121212;
    font-weight: 600;
}
.mar_btm_20px{
    margin-bottom: 15px;
}
.main_bfox_wrap{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 15px;
}
.bg_available{
    background-color: #ecfff2;
    color: #6abb80;
}
.bg_dang{
    background-color: #ffe7f1d6;
    color: #EE7775;
}
.bg_orange{
    background: #fff2e7;
    color: #ff8732;
}
.clr_vilt{
    background: #866aff2b;
    color: #9d33ff;
}

.clr_primary{
    background: #f2f2f2;
    color: #010101;
}


.arrow_qw{
   background-color: #2e2e2e33;
    border-radius: 50%;
    color: #ffffff;
    height: 22px;
    justify-content: center;
    align-items: center;
    min-width: 22px;
    width: 22px;
}
.bread_camp{
   
        border-radius: 12px;
    cursor: pointer;
    gap: 10px;
    padding: 10px 20px;
    z-index: 11;
    display: flex;
    align-items: center;
    background: radial-gradient(circle, #066f5b 0%, #023047 100%);
}


.clr_white{
    color: #fff;
}
.nav_icon{
    width: 30px;
    height: 30px;
    min-width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    color: #ffffff;
}

.nav_outer_boxx{
    position: absolute;
    top: 200px;
    left: 30px;
}
.main_block_nav{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  padding: 10px;
    background: radial-gradient(circle, #066f5b 0%, #023047 100%);
    border-radius: 12px;
}

/* setting cssc start  */
.main_blocks{
    position: absolute;
    top: 120px;
    left: 231px;
}

.bred_outer {
    /* background: #fffffffc; */
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
     font-size: 14px;
    font-weight: 400;
    padding: 2px 10px;
    text-transform: capitalize;
}
.bred_outer:hover{
    background: #121212;
    color: #fff;
}
.wd-100{
    width: 100%;
    height: 100%;
}

.nav_outer_boxx_ui{
      display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    pointer-events: all;
    margin-left: 30px;
    margin-top: -40px;
}

.label_tip{
    position: absolute;
   background: #045352;
    left: 75px;
    padding: 10px;
    border-radius: 12px;
    line-height: 15px;
    font-weight: 500;
    font-size: 12px;
    min-width: max-content;
    display:none;
}
.show_desc .label_tip{display: block;left: 87px;}
/*.nav_icon:hover .label_tip{display: block; }*/
.nav_icon:hover{
     background-color: #ffffff2b;
}

.filter_main_block{
    display: flex;
    flex-direction: column;
    background: rgb(35 35 35 / 85%);
    border-radius: 12px;
    padding: 10px 15px 15px 15px;
    width: 100%;
    max-width: 170px;
    min-width: 170px;;
    transition: opacity 0.3s;
    pointer-events: all;
    z-index: 13;
    position: relative;
}
.font_filterw{
    font-size: 12px;
    color: #9b9b9b;
    font-weight: 500;
    text-align: center;
}
.d_just_btw{
    display: flex;
    justify-content: space-between;
}


.main_tab_block_wrap{
        margin-bottom: 30px;
    margin-top: 1.2rem;
    padding: 0px 10px;
}
.just_start{
    justify-content: flex-start;
}
.just_end{
    justify-content: flex-end;
}
/* setting cssc end  */
.jusT_spacebtw{
    justify-content: space-between;
}

.pad_btm_15px_brd{
    padding: 10px 15px;
    border-bottom: 1px solid #e0e0e061;
    margin-bottom: 15px;
}
.pad_btnwq{
    border-top: 1px solid #e0e0e061;
    padding-top: 15px;
}


body .padd_btm15px{
    padding-bottom: 15px;
}
body .cmrScF .interface--col.svelte-9mhvmf.svelte-9mhvmf .panel__unit-card.svelte-1m6i2pp.svelte-1m6i2pp.svelte-1m6i2pp{
    
}
body .ioZlNZ .body.info.svelte-9mhvmf.svelte-9mhvmf{
        left: 11rem;
}
body .ioZlNZ .panel.svelte-1shyvx4.svelte-1shyvx4 {
        background: #1d1d1d;
        min-width: 320px;
}
.ioZlNZ .towers-container .towers{
  grid-template-columns: repeat(8, 1fr) !important;
}
.ioZlNZ .floor-switcher input[name="floor_number"]{
  max-width: 100% !important;
}
body .ioZlNZ .towers-container .towers .tower{
    background-color: #a09d9d40;
    color: #ffffff;
    border: 1px solid rgb(255 255 255 / 0%);
}
.floor-switcher{
  background-color: #1d1d1dc9  !important;
}
body .ioZlNZ .section-title{
        color: rgb(255 255 255);
}
body .ioZlNZ .floor__buttons.svelte-6keq0u .floors__group--item.selected.svelte-6keq0u{
    background-color: #dc730e !important;
    border-color: #dc730e !important;
}
.ioZlNZ .button.toggleButton.explore,.dzrmUF .button.active.green{
  background-color: #dc730e !important;
}
.dzrmUF .interface--col.svelte-9mhvmf.svelte-9mhvmf .panel__unit-card.svelte-1m6i2pp .panel.unitCard{
  height: 240px !important;
}
.dzrmUF .interface--col.svelte-9mhvmf.svelte-9mhvmf{
  left: unset !important;
  right: 20px;
    top: 9rem !important;
}
.biaUgL :hover{
  background-color: transparent !important;
  color: #f0f0f0;
}
.fxdZrA{
  top: 6rem !important;
  background: rgb(29 29 29) !important;
    opacity: 1 !important;
    font-size: 12px !important;
    right: 20px !important;
}
body .ioZlNZ .floor__buttons.svelte-6keq0u .floors__group--item.available.svelte-6keq0u{
    background-color: rgb(62 62 62);
}
body .ioZlNZ .floor__buttons.svelte-6keq0u .floors__group--item.svelte-6keq0u{
        border: 1px solid rgb(71 71 71);
}
body .ioZlNZ .floor-switcher .inputs-container .floor-selected{
    border-color: #434343;
    color: rgb(54 54 54);
    background-color: rgba(119, 166, 65, 0.05) !important;
}
.oZlNZ .floor_buttons.svelte-6keq0u .floors_group--item.svelte-6keq0u:nth-child(4n+4) {
    margin-left: 5px !important;
}
.fltrr .filters{
  position: relative !important;
  left: unset !important;
}
body .eSdljY .zoom-control{
    right: 0px;
    bottom: 10px;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
    left: 0;
}
body .dzrmUF .interface--col.svelte-9mhvmf.svelte-9mhvmf .panel__unit-card.svelte-1m6i2pp.svelte-1m6i2pp.svelte-1m6i2pp{
    background-color: #1d1d1d;
}
body .dzrmUF .panel.svelte-1m6i2pp .type.svelte-1m6i2pp.svelte-1m6i2pp{
        font-weight: 500;
}
body .dzrmUF .features .feature{
    background-color: #3b3b3b40;
        margin: 0.5rem 0px !important;
            font-size: 12px !important;
}
.qrcode_sec{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 11;
}
.sc-hjsuWn{display:none;}
.amenties_BLOCK{
   display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin-top: 24px;
    /* flex-direction: column; */
}
.AMENITIES_OUTER{
     cursor: pointer;
    pointer-events: all;
    width: 100%;
    height: 100px;
/*    border-radius: 8px;*/
    position: relative;
}
.IMG_amenite{
      width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid rgb(182 182 182);
    background: rgb(255, 255, 255);
}
.text_amenties{
    bottom: -29px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    /* left: 10px; */
    line-height: 15px;
    position: absolute;
    transition: opacity .3s;
    z-index: 2;
    width: 100%;
    border-radius: 0px 0px 12px 12px;
    padding: 7px 10px;
    background: #023047;
    background: radial-gradient(circle, #066f5b 0%, #023047 100%);
}
.outer_grad{
        position: absolute;
    opacity: 0;
    inset: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background: rgba(12, 12, 12, 0.5);
    transition: 0.3s;
    box-shadow: white 0px 0px 0px 2px inset;
    border-radius: 8px;
    padding: 20px;
}
.shadow_outer{
        background: linear-gradient(0deg, rgb(0, 0, 0) 17.38%, rgba(0, 0, 0, 0.44) 30.18%, rgba(0, 0, 0, 0) 42.3%);
    position: absolute;
    inset: 26px 0px 0px;
    opacity: 0.4;
    border-radius: 8px;
}
.AMENITIES_OUTER:hover .outer_grad{
    opacity: 1;
}
.img_blockqe{
       position: relative;
    width: 100%;
    height: 100%;
}
.main_blockqw{
    max-height: 300px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.unit_status_legend{
        background: radial-gradient(circle, #066f5b 0%, #023047 100%) !important;
    padding: 15px !important;
    left: 30px;
    z-index: 99;
    top: unsetr;
    bottom: 30px !important;
    left: 30px !important;
}
.unit_status_legend .body {
  margin-top: 0px !important;
  gap: 10px !important;
}
.ioZlNZ .floor__buttons.svelte-6keq0u .floors__group--numbers.svelte-6keq0u{
  color: #a09797 !important;
}
.fltrr .panel{
        background: radial-gradient(circle, #066f5b 0%, #023047 100%) !important;
}
.floor-switcher input{color: #fff !important; }
.css-pusj2w{
  background: none;
    box-shadow: none;
    padding: 0px;
}
.mrgn_hr{margin-bottom:12px;}
.jusT_spacebtw .flors_icons{
    flex: 1;
}

.logo-wrapper {
    background-color: #f7f7f7;
    border-radius: 5px;
    margin: 0 .5rem !important;
    padding:.2rem .5rem !important;
}
.logo_outer{
  background: #fff;
  display: flex;
  border-radius: 12px;
}
.logo_outer img {
    max-width: 100px;
    width: auto;
    border-radius: 6px;
    object-fit : cover;
    max-height: 66px;
}
.slide-panel-content h2{
  font-size: 21px;
  font-weight: 600;
}
.editor-heading-h2 {
       text-align: left;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px; 
}
.hdr_log_main{
  display: flex;
    gap: 15px;
    left: 30px;
    position: absolute;
    top: 15px;
    z-index: 105;
    align-items: start;
    flex-direction: column;
}
.gDDtvv,.ilTkJM,.gWyCvP,.iMALGa,.iFYmkG{
    width: 460px !important;
    /*background: #ffffff !important;
    color: #0b0b0b !important;*/
    box-shadow: -4px 0 24px 0 rgba(0, 0, 0, 0.25);
    border-radius: 12px 0 0 12px !important;
}
.gDDtvv .close-btn,.ilTkJM .close-btn,.iMALGa .close-btn,.iFYmkG .close-btn{color: #000 !important;}
.editor-paragraph b,.slide-panel-content b{
    font-weight: 600;
}
.slide-panel-content p{ line-height:27px; }
.slide-panel-content .close-btn{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding: 0!important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000000 !important;
    font-size: 22px !important;
}
.slide-panel-content .close-btn:hover{
    background: #e0e0e0f0 !important;
    color: #212121 !important;
}
.no_data_block{
   width: 100%;
    display: flex;
    justify-content: center;
}
.no_data_block img{
  width: auto;
    height: 250px !important;
}
.untt .no_data_wrap{
  position: relative !important;
  margin-left: -20% !important;
}
.untt .no_data_wrap .text_amentyies{
  color: #d7d0d0 !important;  
}
.no_data_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    width: 100%;
    height: calc(100vh - 190px);
    align-items: center;
    gap: 0;
    justify-content: center;
}
.text_amentyies{
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
}
.wrap_iframe_box .text_amentyies{
  color: #000;
}
.img_block_video{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid rgb(203, 203, 203);
}
.img_block_video img , .img_block_video video{
    max-width: 100%;
}
.main_tab_img_block {
    padding: 10px;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 6px;
    /* height: 157px; */
    pointer-events: all;
    position: relative;
    width: 100%;
    background: #f6f6f6;
}
.img_block_video {
    position: relative;
    width: 100%;
    object-fit: cover;
}
.construction_uopdated {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}
.main_text_blk {
    font-size: 16px;
    font-weight: 600;
    margin-top: 7px;
    float: left;
    color: #000000;
}
.wrap_iframe_box{
    position: absolute;
    inset: 0px;
    background: #ffffff;
    padding: 20px;
    z-index: 1100;
}

.main_se_wrap_box{
    width: 100%;
    height: 100%;
    position: relative;
}

.cose_btn{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    color: #000000;
    position: absolute;
    right: 10px;
    top: 11px;
    display: flex;
    justify-content: center;
    z-index: 12233444;
    padding: 5px;
    align-items: center;
    background-color: #d5d5d5;
    cursor: pointer;
}
.construction_uopdated.mappp{
  width: 100%;
  height: 100%;
}
.mappp iframe{
  width: 100%;
  height: 100%;
}
.filter_icon{
    width: 50px;
    height: 50px;  
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 30px;
    z-index: 1234;
    align-items: center;
    top: 180px;
    cursor: pointer;
        background: radial-gradient(circle, #066f5b 0%, #023047 100%);
}
.filter_icon:hover{
      background-color: #1a1a1a;
    color: #fff;

}
.ihWKbh .button-group{
    display: flex;
    GAP: 10PX;
}
.ihWKbh .button-group .button {
        border-radius: 33px;
}
.ihWKbh .slider-group{
    padding: 12px 10px !important;
    background: #ffffff;
    background: #ffffff;
    border-radius: 12px;
    margin: 0!important;
    flex: 1;
}
.ihWKbh .button.active.green {
        background: #dc730e!important;
}
.ihWKbh .slider-group__title{
        color: rgb(0 0 0);
    font-weight: 600;
}
.input-minprice{
    color: rgb(0 0 0);
    font-weight: 600;
}
.slider-group input {
        margin: 0 ;
}
.slider-group-wrap{
    display: flex;
    gap: 10px;
}
.jViixs .panel{
  min-width: 18rem !important;
}
.ihWKbh .button-group{
  margin-top: 20px !important;
}
.ihWKbh .button-group {
    margin-top: 11px !important;
}
.ihWKbh .button-group :first-child {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    border-radius: 12px !important;
}
.ihWKbh .slider-group__title {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0 0 0) !important;
    font-weight: 600 !important;
}
.input-maxprice {
  color: #000 !important;
}
.MapFilters button{
  background: #525252 !important;
}
.jViixs .button.el-showall__button{
  background: var(--button_background_active) !important;
  color: #000 !important;
}
.win10-thumb{
  border: none !important;
}
input[type="range"].win10-thumb {
    color: #3a86ff !important;
  }
  .fltrr.left-panels{
    right: unset !important;
    left: 95px !important;
    top: 52px !important;
  }
  input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;
  /*  slider progress trick  */
  overflow: hidden;
  border-radius: 16px;
}

input[type="range"] {
  -webkit-appearance: none; /* Remove default styling */
  width: 100%;
  height: 10px;
  background: transparent; /* We'll style the track separately */
}

/* WebKit browsers (Chrome, Safari, Edge) */
input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  background: #f0f0f0;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: #dc730e;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px; /* Center the thumb vertically */
}

/* Firefox */
input[type="range"]::-moz-range-track {
  height: 6px;
  background: #fff;
  border-radius: 3px;
}

input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background: white;
  border: 2px solid blue;
  border-radius: 50%;
  cursor: pointer;
}

/* IE / Edge (legacy) */
input[type="range"]::-ms-track {
  height: 6px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: blue;
  border-radius: 3px;
}

input[type="range"]::-ms-fill-upper {
  background: blue;
  border-radius: 3px;
}

input[type="range"]::-ms-thumb {
  height: 16px;
  width: 16px;
  background: white;
  border: 2px solid blue;
  border-radius: 50%;
  cursor: pointer;
}
body .ioZlNZ .body.info.svelte-9mhvmf.svelte-9mhvmf {
    left: 50px !important;
}
.grid_block {
     display: grid;
  grid-template-columns: auto auto ;
/*  padding-bottom: 15px;*/
}
.grid_amen{
  grid-template-columns: repeat(3,1fr);
  display: grid;
    row-gap: 50px !important;
    column-gap: 20px;
}
.img_vid_wrap{
    display: inline-flex;
    padding: 5px 12px;
    border-radius: 30px;
    color: #010101;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    gap: 5px;
    background: #ffffff;
    border: 1px solid #cecece;
}
.img_vid_wrap:hover{
    background-color: #1f1f1f;
    color: #fff;
}
.Aciver_btn{
    background-color: #010101;
    color: #fff;
}
.videO_block{
    display: flex;
    gap: 15px;
}
.img_vid_wrap{cursor: pointer;}
.grid_block-wrapper {
     display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;
}
.grid_block-wrapper .main_tab_img_block{
  border: 0px;
  padding: 0px;
  border-radius: 0px;
  background: white;
}
.grid_block-wrapper .img_block_video{
  height: 125px;
}
.svg_block_filter .label_tip{
    left: 75px;
    top: 183px;
    z-index: 100;
    min-width: 60px;
    text-align: center;
    color: #fff;
    display: none !important;
}
body .eSdljY .zoom-control,body .flOtUU .zoom-control {
    bottom: 25px !important;
    flex-direction: row !important;
    gap: 10px !important;
    justify-content: center !important;
    left: 0 !important;
    right: 0 !important;
}
.MapFilters .title{
  font-size: 13px !important;
    font-weight: 600;
}
.cose_btn.cose{
  width: 22px;
  height: 22px;
}
.floor-selector{top: 8rem !important;}
.booknow_unt{
  position: absolute;
    top: 120px !important;
    right: 30px !important;
    left: unset !important;
    z-index: 2000 !important;
}
.booknow_unt .panel__unit-card{background-color: #1d1d1d!important;}
.booknow_unt button{background: #29a77f !important; }
.el-showall{display: flex;gap: 10px;}
.MapFilters  .syubmt_flter{background: #dc730e !important;color: white !important;}
.towers-container .tower.active{background: #dc730e !important;color: white !important;}
.descContr{height: calc(100vh - 100px)}
.active_bread{
    background-color:#29a77f;
}
.view_desc{
  color: white;
  background: #29a77f;
  position: absolute;
    bottom: 10px;
    left: 20px;
    width: auto;
    padding: 8px 10px;
}
.compass_coys{
      width: 50px !important;
    height: 50px !important;
    padding: 9px;
    background: radial-gradient(circle, #066f5b 0%, #023047 100%) !important;
    right: unset !important;
    left: 30px;
    bottom: 100px !important;
}
.Mappp_cnhs{
  width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.ghtyu{
  flex: 1;
  overflow-y: auto;
}
.slide_panell{width:450px !important; }
.pan_view_360{z-index: 2000;}
.btn_small{
    padding: 3px 8px;
    border: 1px solid rgb(174, 174, 174);
    font-size: 13px;
    border-radius: 4px;
    color: #fff;
}
.d_flex_main_wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.btn_small:hover{
    background-color: #1f1f1f;
    cursor: pointer;
}
.available-title{
      border-radius: 4px;
    padding: 4px 0px;
    background: #b1b1b129;
    margin-top: 20px !important;
}
.list_gopw{
    display: flex;
padding: 5px;
    /* background-color: #121212; */
    border: 1px solid rgb(240, 240, 240);
    border-radius: 6px;
    color: #fff;
    width: 100%;
    justify-content: center;
}
.grid_htyu{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.txt_er{
    font-size: 13px;
    font-weight: 500;
}
.MapFilters .syubmt_flter {background: #29a77f !important;}
.img-wrapper{ background:#18534b !important; }
.booknow_unt .panel__unit-card{background: radial-gradient(circle, #066f5b 0, #023047 100%);}
.f-500{font-weight: 500 !important;}
.img-wrapper.untt{padding-left: 20% !important;}
body .sdyuo .booknow_unt .unitCard  .buttons .bhy.button{margin-top: 0.3rem !important;}
.pnlm-container{width: 100% !important;height: 100% !important;}
.grid_htyu::-webkit-scrollbar {
    display: none;
}
.grid_htyu{overflow: auto;max-height: 135px;}
.pric_ind{
      color: white;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
}
.enquiry-form{
  z-index: 2000;
}
.input-group label {
    color: #ffffff !important;
    position: relative;
}
.description .boookkkk .title{
    color: #29a77f !important;
    padding-right: 5px;
    font-weight: 500;
}
.booknow_unt .brook_now.disabled{
  background: #2a2a2a !important;
}
.cap_map{
  font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    line-height: 25px;
    margin-bottom: 10px;
}
.img_wrapw_map{
    position: relative;
}
.img_blockqwe{
    margin-bottom: .75rem;
    object-fit: cover;
    width: 100%;
    height: auto;
}
.par_textqw{
        margin-bottom: .75rem;
        font-size: 0.75.rem;
        font-weight: 400;
        color: #fff;
}
.button_block{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2.5rem;
    width: 100%;
    font-size: 16px !important;
    font-weight: 400;
    /* line-height: 25; */
    text-transform: uppercase;
    border-radius: 12px;
    box-shadow: 0 2px 4px #0000000d;
    pointer-events: auto;
    cursor: pointer;
    background-color: #29a77f;
    COLOR: #FFF;
    font-weight: 600;
}
.button_block:hover{
    background-color: #1f936e;

}
.par_textqw{font-family: system-ui !important;}
.main_popover_wrap{
    max-width: 350px;
    max-height: 565px;
    min-width: 0px;
    background: radial-gradient(circle, #066f5b 0, #023047 100%);
/*    position: absolute;*/
        box-sizing: border-box;
    overflow: hidden;
    top: 0;
    left: 0;
    /* -webkit-transform: translate3d(-50%, -100%, 0);
    transform: translate3d(-50%, -100%, 0); */
   
    border-radius: 8px;
    padding: 12px;
    -webkit-box-shadow: 0 2px 7px 1px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, .3);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.gm-style-iw-tc{
        -webkit-filter: drop-shadow(0 4px 2px rgba(178, 178, 178, .4));
    filter: drop-shadow(0 4px 2px rgba(178, 178, 178, .4));
    height: 12px;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 25px;
}
.gm-style-iw-tc::after{
        clip-path: polygon(0 0, 50% 100%, 100% 0);
    content: "";
    height: 12px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 25px;
        background: #1d2a28 !important;
    background-color: #1d2a28 !important;
    border-color: #1d2a28 !important;
}
.pos_relye{
       position: relative;
    overflow: auto;
}
.gm-style-iw-chr{position: absolute !important;right: 10px;top: 10px;z-index: 1000 !important;}
.gm-style-iw-chr button{
  background: white !important;
    width: 25px !important;
    height: 25px !important;
    border-radius: 50% !important;
}
.gm-style-iw-chr button span{margin: 3px !important;width: 20px !important;height: 20px !important;z-index: 1000;}
.gm-style .gm-style-iw-c{padding-left: 0px !important;}
.gm-style-iw-d{overflow: auto !important; }
.burger_menu{display: none}
@media screen and (max-width: 600px) {
.slide_panell{width: 100% !important;}
.grid_amen{
display: grid;
  grid-template-columns: repeat(2,1fr);
    row-gap: 50px !important;
    column-gap: 20px; }
    #return-to-tower{display:none;}
    .fltrr.left-panels{
        left: 0px !important;
    right: auto !important;
    top: 115px !important;
    width: 100%;
    z-index: 200;
    }
    .filters{width: 100% !important; }
    .bread_camp{flex-wrap: wrap;}
    .hdr_log_main {
        right: 0px;
        background: #fff;
        flex-direction: row;
        align-items: center;
        left: 0px;
        top: 0px;
    }
    .sidebar { align-items: flex-end !important; }
    .nav_outer_boxx_ui{
      display: flex;
    width: 100%;
    }
    .main_block_nav{flex-direction: row;}
    .nav_outer_boxx_ui{margin-left: 0px;}
    .slice{
      height: calc(100vh - 115px);
    width: 100%;
    margin-top: 65px;
    }
    .qrcode_sec{
      right: 12px;
    top: 0px;
    z-index: 1123;
    }
    .bread_camp{display: none;
    position: absolute;
        top: 75px;
        left: 10px;}
    .burger_menu{
      width: 22px;
      height: 22px;
      background: #fff;
      display: block;
        margin-left: 15px;
    }
    .booknow_unt{top: 160px !important;}
}
.view_desc svg{
  width: 16px !important;
  height: 16px !important;
}
.view_desc{
      display: flex;
    align-items: center;
    gap: 6px;
}
#rotate-instructions{z-index: 999997 !important;}
#rotate-instructions .img-wrapper{background-color: inherit !important;}
#client-page-map{    z-index: 10000000000;
    position: absolute;
    background: white;}
@media screen and (max-width: 900px) {
  .sidebar{
    bottom: 12px;
    top: unset !important;
    align-items: end !important;
    justify-content: center;
  }
  .main_block_nav{
    flex-direction: row;
  }
  .no_data_block img{height: 145px !important;}
  .label_tip{display: none !important;}
  .qube-card{
    width: 100% !important;
    max-width: 450px;
    height: calc(100vh - 80px);
    overflow-y: scroll;
  }
}
@media screen and (min-width: 900px) {
.nav_outer_boxx_ui.show_desc{
  width: 200px;
  background: radial-gradient(circle, #066f5b 0%, #023047 100%);
  border-radius: 12px;
  align-items: flex-start;
  position: relative;
}
.show_desc .main_block_nav{background: unset;}
.show_desc .label_tip{ background:unset;left: 47px; }
.show_desc .icon_aerow,.icon_aerow{
  position: absolute;
    right: -14px;
    top: 5px;
    z-index: 1000;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
    display: block !important;
    transform: rotate(180deg);
}
.icon_aerow{transform: rotate(0deg);}
.nav_outer_boxx_ui{ position:relative; }
}
.icon_aerow{display: none;}
.qube-card {
/*      background-color: #152624; Dark greenish background */
      color: #ffffff;
      width: 320px;
      padding: 25px;
      border-radius: 10px;
      position: relative;
      background: radial-gradient(circle,#066f5b 0,#023047 100%);
    }

    .qube-close-btn {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 20px !important;
      height: 20px !important;
      cursor: pointer;
      fill: #ffffff;
      transition: fill 0.2s ease;
    }

    .qube-close-btn:hover {
      fill: #f9b84a; /* Highlight on hover */
    }

    .qube-logo {
      display: block;
    margin-bottom: 15px;
    width: 100%;
    height: 100px;
    object-fit: cover;
    }

    .qube-text {
      margin: 15px 0;
      font-size: 14px;
      line-height: 1.6;
      color: #d6d6d6;
    }

    .qube-highlight {
      color: #f9b84a;
      font-weight: bold;
    }
    .infoWindow{
    position: absolute;
    left: 10px;
    z-index: 100;
    top: 65px;
    }
    .infobtnnn{
      position: absolute;
    z-index: 100;
    width: 40px;
    height: 40px;
    padding: 10px;
    background: radial-gradient(circle,#066f5b 0,#023047 100%);
    color: white;
    border-radius: 8px;
    left: 10px;
    top: 65px;
    cursor: pointer;
    }